<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lv.rigadevday.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RddMaterialTheme">

        <activity
            android:name=".ui.drawer.DrawerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.talk.TalkActivity"
            android:label="@string/talks"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.speakers.speaker.SpeakerActivity"
            android:label=""
            android:screenOrientation="portrait" />
    </application>

</manifest>
